{% asset 'gov_theme/custom-footer' %}

<footer>
  {% block footer_content %}

      {% if h.is_back_site() and c.get('user','') != '' %}
        <div data-module="session-notifier" data-module-session_timeout="{{ config.get('who.timeout','0') }}" data-module="confirm-action" data-module-content="{{ _('You’ve been logged out, sign in again ?') }}"></div>
      {% endif %}

    <div class="footer-wrapper">
      <div class="custom-footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links_ckan %}
{#              {% set current_lang = request.environ.CKAN_LANG %}#}

              <li class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-3">
                <a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About').format(g.site_title) }}</a>
              </li>
              <li class="col-xs-4 col-sm-3 col-md-2">
                <a href="{{ h.url_for(controller='gov_theme', action='terms') }}">{{ _('Terms Of Use').format(g.site_title) }}</a>
              </li>
              <li class="col-xs-3  col-sm-3  col-md-2 ">
                <a href="{{ h.url_for(controller='contact', action='form') }}">{{ _('Contact').format(g.site_title) }}</a>
              </li>

            {% endblock %}
          </ul>
        {% endblock %}
      </div>
    </div>
  {% endblock %}

   {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
</footer>
